.relative {
  position: relative;
}

.loader {
  position: absolute;
  z-index: 90;
  right: 7px;
  bottom: 7px;
  display: flex;
  justify-content: center;
}

.loader i {
  color: #333333;
}

.loader i.success {
  color: green;
}

.cz-select select {
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  cursor: pointer;
}

.loading-indicator {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #8d1614;
  width: 18px;
  height: 18px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
  margin-bottom: 3px;
  margin-right: 5px;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield;
  /* Firefox */
}

/* Inspeksi */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(19px, 0);
  }
}

.loading-inspeksi {
  min-height: 200px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 640px) {
  .loading-inspeksi-banner {
    width: 100%;
  }
}

.daftar-kerjakami {
  display: flex;
}

.daftar-kerjakami {
  margin-bottom: 2rem;
}

.daftar-kerjakami h3 {
  line-height: 1.6;
  font-weight: 500;
}

.image-kerjakami {
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.info-kerjakami {
  flex: 1;
  display: flex;
}

.no-kerjakami {
  width: 20px;
  font-size: 18px;
  margin-right: 0.7rem;
}

.detail-kerjakami {
  flex: 1;
}

.detail-kerjakami h3 {
  font-weight: 400;
}

.daftar-kerjakami p {
  font-size: 18px;
  justify-content: flex-start;
  line-height: 1.45;
}

@media only screen and (max-width: 600px) {
  .daftar-kerjakami {
    flex-direction: column;
  }

  .image-kerjakami {
    margin: 2rem auto;
  }

  .modal-dt-container {
    height: 100%;
  }

  .modal-dt-right {
    margin: 1rem !important;
  }
}

.kebijakan-ct {
  text-align: justify;
  margin-top: 1rem;
}

.kebijakan-ct-list {
  margin-left: -1rem;
  margin-top: 0.5rem;
  margin-bottom: 1.4rem;
}

.kebijakan-ct-list span {
  margin-left: 8px;
}

/* Page inspeksi

custom modal time input
*/
#modal-datetime {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 10000;

}

.bg-modal-dark {
  background-color: #000;
  opacity: 0.23;
  position: absolute;
  z-index: 10001;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-dt-container {
  width: 800px;
  background-color: #ffffff;
  margin: auto;
  z-index: 10002;
}

.modal-dt-title {
  font-size: 24px;
  padding: 14px;
  margin: 0;
  background-color: #D35C5C;
  color: #FFFFFF;
}

.modal-dt-close {
  position: absolute;
  right: 32px;
  top: 16px;
  font-size: 24px;
  color: #FFF;
  cursor: pointer;
}

.modal-dt-left {
  display: flex;
}

.modal-dt-left ul {
  flex: 1;
  overflow: auto;
}

.modal-dt-item {
  cursor: pointer;
}

.modal-dt-item:hover,
.modal-dt-item-active {
  background-color: #ECECEC;
  color: #D35C5C;
}

.modal-dt-right {
  margin-top: 1rem;
  margin-left: -10px;
  margin-right: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.modal-dt-list-time {
  width: calc(20% - .75rem);
  margin: 0 .375rem .75rem;
  padding: .75rem;
  border-radius: .3125rem;
  border: .125rem solid #D35C5C;
  color: #D35C5C;
  font-size: .875rem;
  line-height: .875rem;
  font-weight: 500;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.modal-dt-list-time:hover {
  background-color: #D35C5C;
  color: #f4f4f4;
}

.lvb-card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

#no_live_bidding {
  text-align: center;
  width: 100%;
}

.lvb-time {
  font-family: 'Myriad Pro';
  margin-left: auto;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 18px;
  color: #000;
  font-weight: bold;
}

.lvb-img {
  width: 60%;
  margin: auto;
  max-height: 400px;
}

.lvb-id {
  margin-left: 15px;
  color: #000;
}

.lvb-mtitle,
.lvb-mprice {
  display: flex;
}

.lvb-mtitle h2 {
  font-size: 16px;
  background: rgb(93, 149, 234);
  background: linear-gradient(90deg, rgba(93, 149, 234, 1) 0%, rgba(108, 92, 127, 1) 100%);
  color: #fff;
  padding: 5px 15px;
  border-radius: 0 20px 20px 0;
  margin: 0;
}

.lvb-mprice h2 {
  font-size: 16px;
  background: #6C5C7F;
  color: #fff;
  padding: 5px 15px;
  border-radius: 0 20px 20px 0;
  margin: 10px 0 0 0;
}

.text-right {
  text-align: right;
}

.text-right p {
  font-size: 14px;
  color: #000000;
  margin-right: 10px;
  margin-bottom: 5px;
}

.lvb-lokasi {
  text-align: right;
  margin-top: 1rem;
  color: #000;
  font-size: 15px;
  margin-right: 10px;
  margin-bottom: 15px;
}