footer.container {
    background: #c10000;
    color: #ffffff;
    padding: 25px;
    position: relative;
}

footer h3 {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 20px;
}
footer p {
    font-size: 16px;
    font-weight: 300;
}

footer a {
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
}
footer a:hover {
    color:  #fab429;
    text-decoration: none;
}
footer .nav-item .nav-link {
    padding: 0;
}
footer small {
    font-size: 12px;
}
footer .social-media {
    font-size: 22px;
}
footer:before {
    content: '';
    top: 0;
    background: #ff4949;
    width: 100%;
    height: 15px;
    left: 0;
    z-index: 10;
    position: absolute;
    border-bottom: 3px solid #ffff00;
}

@media (min-width: 992px)  {
    footer h3 {
        margin-bottom: 30px;
        font-size: 20px;
    }
}