body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  font-size: 16px;
  color: #888a8c;
  font-family: 'Myriad Pro';
}

a,
button {
  transition: 0.5s ease-in-out all;
}

button:hover,
button:active,
button:focus {
  outline: none;
}
.btn {
  text-align: center;
  -webkit-appearance: none;
  background: transparent;
  font-weight: 700;
  padding: 15px;
  font-size: 16px;
  min-width: 150px;
  border-radius: 10px;
  border: none;
}

.btn:disabled {
  background: #696969;
  color: #ffffff;
  opacity: 1;
}
.btn-blue {
  background: #2c77c3;
  color: #ffffff;
}
.btn-orange {
  background: #f7780b;
  color: #ffffff;
}
.btn-grey {
  background-image: url('../../images/btn-grey.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: #76412e;
}
.btn:disabled:hover,
.btn:disabled:active,
.btn:disabled:focus {
  background: #696969;
  color: #ffffff;
}
.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
  background: #1e558c;
  color: #ffffff;
}
.btn-orange:hover,
.btn-orange:active,
.btn-orange:focus {
  background: #d86808;
  color: #ffffff;
}
.btn-grey:hover,
.btn-grey:active,
.btn-grey:focus {
  color: #ffffff;
}

.btn-green:hover,
.btn-green:active,
.btn-green:focus {
  color: #76412e;
}

.btn-yellow:hover,
.btn-yellow:active,
.btn-yellow:focus {
  color: #ffffff;
}

.btn-yellow {
  background-image: url('../../images/btn-yellow.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: #76412e;
}

.btn-link {
  color: #2c77c3;
}

.text-blue {
  color: #002955;
}
.text-red {
  color: #fa6a76;
}
p {
  font-size: 16px;
  line-height: 1.2;
}

img {
  max-width: 100%;
}

.color-blue {
  color: #2c77c3;
}
.color-white {
  color: #ffffff;
}
.color-black {
  color: #000000;
}

.bg-grey {
  background: #eeeeee;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
}

section h2 {
  font-family: 'ITC Eras';
  font-weight: 900;
  font-size: 20px;
  color: #333333;
  margin-bottom: 20px;
}
section h2 span {
  color: #c10000;
}

section h3 {
  font-family: 'ITC Eras';
  font-weight: 900;
  font-size: 18px;
  color: #c10000;
}
section ol {
  list-style: none;
}
section ol li {
  counter-increment: my-awesome-counter;
  margin-bottom: 10px;
}
section ol li:before {
  content: counter(my-awesome-counter);
  font-weight: bold;
  font-size: 14px;
  margin-right: 0.5rem;
  margin-left: -34px;
  background: #ff4949;
  width: 21px;
  display: inline-block;
  height: 21px;
  text-align: center;
  color: white;
  border-radius: 100%;
}
.owl-dots {
  text-align: center;
}
.owl-dots .owl-dot span {
  background: #ff4949;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  margin: 10px 3px;
  display: block;
}
.owl-dots .owl-dot.active span {
  background: #333333;
}

.show-banner {
  position: fixed;
  bottom: 0;
  z-index: 10000;
  width: 100%;
  display: none;
  padding: 0 10%;
  text-align: center;
}
.show-banner button {
  position: absolute;
  right: 0;
  top: -22px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.show-banner.top button {
  top: -6px;
  right: -15px;
}
.show-banner .wrapper {
  margin: auto;
  position: relative;
  max-width: 728px;
}
.show-banner.top {
  position: relative;
  top: 0;
  width: 100%;
  padding: 0 10%;
  text-align: center;
  bottom: auto;
}
.show-banner.center {
  top: 200px;
  bottom: auto;
}

.mobil-carousel {
  display: none !important;
}
.page-tentang div h2 {
  color: #c10000;
  font-size: 1.775rem;
  font-weight: 700;
}

.page-tentang div p {
  font-size: 18px;
  line-height: 1.45;
  font-weight: 400;
}

@media (min-width: 768px) {
  section {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  section h2 {
    font-size: 23px;
    margin-bottom: 30px;
  }
  section p.small {
    font-size: 14px;
  }

  .show-banner.center {
    top: 300px;
  }
}
