.wrap-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background: #ffffff;
}
.wrap-header .navbar .navbar-brand {
    padding: 15px 0;
}
.wrap-header .navbar .navbar-brand img {
    width: 170px;
}
.wrap-header .navbar .nav-item a:hover {
    color: #c11717;
}
.wrap-header .navbar .nav-item.active .nav-link {
    color: #c11717;
}
.wrap-header .navbar .hamburger {
    padding: 15px 10px;
}

/* Media */
@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}
