.section-banner {
    background-image: url("../../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    color: #ffffff;
    margin-top: 65px;
}
.section-banner:before {
    content: '';
    background: rgba(193,23,23,0.7);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.section-banner form {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
}

.section-banner h1 {
    font-family: "ITC Eras";
    font-weight: 900;
    font-size: 20px;
    margin-top: 30px;
}
.section-banner p {
    font-weight: 300;
}
.section-banner .img-banner {
    margin-bottom: 30px;
    width: 300px;
}
.section-banner .btn {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(185,213,149,1) 0%, rgba(127,179,62,1) 35%, rgba(125,178,59,1) 100%);
    color: #ffffff;
    width: 100%;
    margin-top: 30px;
    cursor: pointer;
}
.section-banner .btn:hover {
    background: linear-gradient(0deg, rgb(140, 208, 53) 0%, rgb(91, 144, 25) 35%, rgb(82, 107, 52) 100%);
}
.section-banner:after {
    content: '';
    bottom: 0;
    background: #c10000;
    width: 100%;
    height: 15px;
    left: 0;
    z-index: 10;
    position: absolute;
    border-top: 3px solid #ffff00;
}
.section-banner .form-group {
    margin-bottom: 10px;
}
section.bg-grey {
margin-bottom: 20px;
}

.mobil-carousel .owl-stage-outer {
    max-height: 200px;
}


@media (min-width: 576px) {
    .mobil-carousel .owl-stage-outer {
        max-height: none;
    }
}

@media (min-width: 768px) {
    .section-banner h1 {
        font-size: 30px;
    }
    .section-banner p {
        font-size: 18px;
    }
    .section-banner .container {
        height: 430px;
        z-index: 100;
    }
}

@media (min-width: 992px) {
    .section-banner .img-banner {
        width: 335px;
        position: absolute;
        right: 0;
        bottom: 135px;
    }
    .section-banner p {
        margin-bottom: 150px;
    }
    .section-banner .container {
        height: 430px;
    }
    .section-banner form {
        padding: 35px 25px;
    }
}

@media (min-width: 1200px) {
    .section-banner h1 {
        line-height: 1.5;
    }
    .section-banner p {
        line-height: 1.5;
    }
}
