/*
 * fontface.css
 * List all of the font
 * 
 */

@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i|Playfair+Display:400,700,900');


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('../../fonts/MaterialIcons-Regular.woff2') format('woff2'),
    url('../../fonts/MaterialIcons-Regular.woff') format('woff'),
    url('../../fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

@font-face {
    font-family: 'Avenir Medium';
    src: url('../../fonts/Avenir.ttc');
}
@font-face {
    font-family: 'Avenir Bold';
    src: url('../../fonts/Avenir-Next-Bold.ttc');
}
@font-face {
    font-family: 'Avenir Demi Bold';
    src: url('../../fonts/Avenir-Next-Bold.ttc');
}
@font-face {
    font-family: 'Avenir Heavy';
    src: url('../../fonts/Avenir-Next-Heavy.ttc');
}
@font-face {
    font-family: 'Avenir Next';
    src: url('../../fonts/Avenir-Next.ttc');
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../../fonts/ProximaNova-Regular.eot');
    src: url('../../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('../../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../../fonts/ProximaNova-Regular.ttf') format('truetype'),
    url('../../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Bl';
    src: url('../../fonts/ProximaNova-Black.eot');
    src: url('../../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ProximaNova-Black.woff2') format('woff2'),
    url('../../fonts/ProximaNova-Black.woff') format('woff'),
    url('../../fonts/ProximaNova-Black.ttf') format('truetype'),
    url('../../fonts/ProximaNova-Black.svg#ProximaNova-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Myriad Pro";
    src: url("http://db.onlinewebfonts.com/t/a89cf050c859a23e4b6d9cf5989acf9e.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/a89cf050c859a23e4b6d9cf5989acf9e.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/a89cf050c859a23e4b6d9cf5989acf9e.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/a89cf050c859a23e4b6d9cf5989acf9e.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/a89cf050c859a23e4b6d9cf5989acf9e.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/a89cf050c859a23e4b6d9cf5989acf9e.svg#Myriad Pro") format("svg"); /* iOS 4.1- */
}

@font-face {
    font-family: "ITC Eras";
    src: url("http://db.onlinewebfonts.com/t/6f99c824ca1981d3cf4b7bb6cfc2507b.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/6f99c824ca1981d3cf4b7bb6cfc2507b.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/6f99c824ca1981d3cf4b7bb6cfc2507b.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/6f99c824ca1981d3cf4b7bb6cfc2507b.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/6f99c824ca1981d3cf4b7bb6cfc2507b.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/6f99c824ca1981d3cf4b7bb6cfc2507b.svg#ITC Eras") format("svg"); /* iOS 4.1- */
}